* {
  margin: 0rem;
  padding: 0r box-sizing border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  display: flex;
  background-color: #ffffff;
  color: #335576;
  width: 100vw;
  height: 4rem;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0rem;
}
.navbar__title {
  padding-left: 8rem;
  display: flex;
  align-items: center;
}
.navbar__links {
  font-size: 1.2rem;
  padding-top: 1.1rem;
  position: relative;
  right: 15rem;
}
.navbar__links--icepadding {
  padding-right: 1rem;
}
.navbar__links--hawpadding {
  padding: 0rem 1rem;
}
.navbar__links--home {
  border-bottom: 0.25rem solid #db7a4e;
  padding-bottom: 0.5rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #fefaf5;
  padding: 2rem 20rem;
  color: #335576;
  display: flex;
}
.footer__contact {
  font-size: 1.4rem;
  padding: 3rem 6rem;
}
.footer__contact--color {
  color: #db7a4e;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.footer__contact--email {
  font-size: 1rem;
}
.footer__time {
  font-size: 1.4rem;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
}
.footer__time--days {
  color: #db7a4e;
  font-size: 1rem;
  display: flex;
  padding: 1.699rem 1rem 1rem 0rem;
  justify-content: space-between;
}
.footer__time--hours {
  justify-content: space-between;
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
  font-size: 1rem;
  display: flex;
}
.footer__social {
  font-size: 1.4rem;
  padding: 3rem 0rem;
  display: flex;
}
.footer__social--size {
  width: 1.5rem;
  height: 1.5rem;
  padding: 3rem 3rem 1rem 0rem;
}

li {
  list-style-type: none;
}

.destination {
  display: flex;
  text-align: center;
  margin-top: 5vh;
}
.destination__background--hawaii {
  background-image: url(../assets/images/hawaii.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}
.destination__background--iceland {
  background-image: url(../assets/images/iceland.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}
.destination__background--greece {
  background-image: url(../assets/images/greece.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}
.destination__title {
  color: white;
  font-size: 4.5rem;
  text-align: left;
  margin-left: 10rem;
  margin-top: 5rem;
}
.destination__block {
  display: flex;
  justify-content: center;
}
.destination__block--friday {
  background-color: white;
  width: 16rem;
  height: 24rem;
  margin-right: 3rem;
  margin-top: 5rem;
}
.destination__block--saturday {
  background-color: white;
  width: 16rem;
  height: 24rem;
  margin-top: 5rem;
}
.destination__block--sunday {
  background-color: white;
  width: 16rem;
  height: 24rem;
  margin-left: 3rem;
  margin-top: 5rem;
}
.destination__block--itinerary {
  position: relative;
  background-color: #fefaf5;
  font-size: 1.3rem;
  padding: 1rem 0rem;
  line-height: 1rem;
  margin: 2rem 1rem 0rem -1rem;
}
.destination__block--title {
  border-bottom: 2px solid black;
}/*# sourceMappingURL=destinations.css.map */