@use "./partials/global";
@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

li {
  list-style-type: none;
}

.destination {
  display: flex;
  text-align: center;
  margin-top: 5vh;
  &__background--hawaii {
    background-image: url(../assets/images/hawaii.jpg);
    @include destinationbackground;
  }

  &__background--iceland {
    background-image: url(../assets/images/iceland.jpg);
    @include destinationbackground;
  }

  &__background--greece {
    background-image: url(../assets/images/greece.jpg);
    @include destinationbackground;
  }

  &__title {
    color: white;
    font-size: 4.5rem;
    text-align: left;
    margin-left: 10rem;
    margin-top: 5rem;
  }

  &__block {
    display: flex;
    justify-content: center;

    &--friday {
      background-color: white;
      width: 16rem;
      height: 24rem;
      margin-right: 3rem;
      margin-top: 5rem;
    }

    &--saturday {
      background-color: white;
      width: 16rem;
      height: 24rem;
      margin-top: 5rem;
    }

    &--sunday {
      background-color: white;
      width: 16rem;
      height: 24rem;
      margin-left: 3rem;
      margin-top: 5rem;
    }
    &--itinerary {
      position: relative;
      background-color: #fefaf5;
      font-size: 1.3rem;
      padding: 2rem;
      line-height: 1rem;
    }

    &--title {
      border-bottom: 2px solid black;
    }
  }
}
