@import "./variables.scss";

* {
  margin: 0rem;
  padding: 0r box-sizing border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  display: flex;
  background-color: $navbarcolor;
  color: $wordmarkcolor;
  width: 100vw;
  height: 4rem;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0rem;

  &__title {
    padding-left: 8rem;
    display: flex;
    align-items: center;
  }
  &__links {
    font-size: 1.2rem;
    padding-top: 1.1rem;
    position: relative;
    right: 15rem;
    &--icepadding {
      padding-right: 1rem;
    }
    &--hawpadding {
      padding: 0rem 1rem;
    }
    &--home {
      border-bottom: 0.25rem solid $underline;
      padding-bottom: 0.5rem;
    }
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #fefaf5;
  padding: 2rem 20rem;
  color: $wordmarkcolor;
  display: flex;

  &__contact {
    font-size: 1.4rem;
    padding: 3rem 6rem;

    &--color {
      color: $underline;
      font-size: 1rem;
      padding-bottom: 1rem;
    }

    &--email {
      font-size: 1rem;
    }
  }

  &__time {
    font-size: 1.4rem;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;

    &--days {
      color: $underline;
      font-size: 1rem;
      display: flex;
      padding: 1.699rem 1rem 1rem 0rem;
      justify-content: space-between;
    }
    &--hours {
      justify-content: space-between;
      text-decoration-color: none;
      font-size: 1rem;
      display: flex;
    }
  }

  &__social {
    font-size: 1.4rem;
    padding: 3rem 0rem;
    display: flex;

    &--size {
      width: 1.5rem;
      height: 1.5rem;
      padding: 3rem 3rem 1rem 0rem;
    }
  }
}
